/* Global Styles for the Cart Component */
.cart-page-div{
    color: white;
}


.cartul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.cart-item-container {
    display: flex;
    align-items: center;
    justify-content: right;
    border-bottom: 1px solid #e0e0e0; /* Separate items with a line */
    padding: 15px 0; /* Provide some spacing above and below the item */
    max-width: 60%;
    margin: auto;
}

/* Product Image */
.cart-item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    left: 10%;
    border-radius: 3px;
}



.cart-icon {
    padding-top: 5px;
    transition: all 0.2s;
}

#minus-icon{
    width: 26.5px;
    height: 34px;
}

#plus-icon{
    width: 30px;
    height: 35px;
}

.cart-icon:hover{
    transform: scale(1.1)
}

/* Item Details */
.cart-item-details {
    flex-grow: 1; /* Ensures that this section uses all available space */
    display: inline-block;
    
}




/* Total Price */
#cart-total-price {
    margin-top: 20px;
    font-size: 1.2rem; /* Make the total price slightly larger */
    font-weight: 500; /* Make the text bold */
}




