/* Global Styles for the Cart Component */
.cart-page-div {
    color: white;
}


.cartul {
    list-style: none;
    padding: 0;
    margin: 0;
}



.cart-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
    max-width: 60%;
    margin: auto;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
    border-radius: 3px;
}



.cart-icon {
    padding-top: 5px;
    transition: all 0.2s;
}

#minus-icon {
    width: 26.5px;
    height: 34px;
}

#plus-icon {
    width: 30px;
    height: 35px;
}

.cart-icon:hover {
    transform: scale(1.1)
}

/* Item Details */
.cart-item-details {
    width: 50%;
    display: inline-block;

}


#cart-total-price {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}