.filter-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;  /* Spacing between items */
    max-width: 70%;
    min-width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.filter-group {
    flex: 3; 
    max-width: 180px;  /* Set a reasonable min-width */
    
}


.current-filters{
    font-size: 12px;
    font-weight: 200;
    margin-left: 15%;
    width: fit-content;
    
}

.clear-filter-button{
    background-color: lightgray;
    border-radius: 5px;
    margin-top: -15px;
    padding: 2px;
    font-size: 0.7rem;
    transition: all 0.2s;
}

.clear-filter-button:hover{
    background-color: darkgrey;
}

