  .home-page-slider-div {
    color: white;
  }


  .swiper {
    max-width: 80%;
    height: 50%;
    margin: 10px;
    padding: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
  }

  .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 95.8%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(214, 202, 202, 0.1);
  }

  .swiper-slide img {
    display: block;
    max-width: 330px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  .swiper-button-next {
    right: -19px;
    padding-right: 30px;
  }

  .swiper-button-prev {
    left: -21px;
    padding-left: 32px;
  }