/* Base styles */
html, body, #root, #root > * {
    background-color: #181818 !important;
    min-height: 100vh;
}

a{
    text-decoration: none;
}

/* Home Page Layout */
.home-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #181818;
}

/* Header Styles */
.header {
    background-color: #0B0B0B;
    padding: 1rem 0;
    margin-bottom: 2rem;
    box-shadow: 0 10px 25px -5px #000;
}

.logo {
    font-size: 2.5rem;
    color: silver;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.logo-link,
.logo-link:hover {
    text-decoration: none;
}

/* Navbar Styles */
.layoutnavbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.layoutnavbar li {
    position: relative;
    margin-right: 0.5rem;
    cursor: pointer;
    display: flex;
    
}

/* Dropdown Menu Styles */
.layoutdropdown {
    display: none;
    position: absolute;
    right:-50px;
    top: 20px;
    list-style-type: none;
    background-color: #f4f4f4;
    border: 1px solid #eaeaea;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    font-size: 1em;
    z-index: 1000;
    cursor: default;
}

.layoutdropdown li {
    margin: 0;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.layoutdropdown.cartlayoutdropdown li {
    cursor: default;
}

.layoutdropdown li:hover,
.layoutdropdown.cartlayoutdropdown li:hover {
    background-color: #eaeaea;
}

.layoutdropdown.visible {
  display: block;
}

/* Button Styles */
.layout-button {
    margin-right: 8px;
    
}

.gotocart-button {
    margin-top: 0px;
    margin-bottom: 10px;
}

.layout-cart-button{
    position: relative;
}

/* Link Styles */
.nav-link {
    margin: 5px;
}

/* Cart Styles */
.layout-total-cart-quantity {
    position: absolute;
    top: 0.7rem;
    left: 4.8em;
    border-radius: 50%;
    width: 18px;
    background-color: rgb(35, 157, 35);
    color: #fff;
    font-size: 0.6rem;
    transform: translate(50%, -50%);
    z-index: 1000;
}

.layout-item-container {
    display: flex;
    align-items: center;
}

.layout-cart-item-img {
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;
    margin-right: 10px;
}

.layout-item-details {
    display: flex;
    flex-direction: column;
}

.layout-item-details div {
    margin-top: -10px;
}

.layout-item-detail#layout-item-name,
.layout-item-detail#layout-item-price {
    flex: 1;
    white-space: nowrap;
}

.cart-icon {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    transition: all 0.2s;
}

.cart-icon:hover {
    transform: scale(1.1);
}


/* Media Queries */
@media (max-width: 1200px) {
    .logo {
        font-size: 2rem;
    }
}



@media (max-width: 768px) {
    .layoutnavbar li {
        margin: 0.2rem;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 0.5rem 0;
    }

    .logo {
        font-size: 1.5rem;
    }

    .layoutnavbar {
        gap: 0.5rem;
        flex-direction: column;
        max-width: 50%;
        margin: auto;
    }

    .layoutdropdown{
        right: -95px;
        top: -12px;
    }

    .layout-button{
        width: 50%;
    }

    .layout-total-cart-quantity{
        left: 50px;
    }

   
}